//! **************************************************************************
// Written by: Map M.81d on Tue Sep 10 07:29:27 2013
//! **************************************************************************

SCHEMATIC START;
COMP "STR0_NB2P" LOCATE = SITE "J14" LEVEL 1;
COMP "CE_NB2P" LOCATE = SITE "G14" LEVEL 1;
COMP "STR1_NB2P" LOCATE = SITE "J15" LEVEL 1;
COMP "CF_NB2P" LOCATE = SITE "J17" LEVEL 1;
COMP "P2PLAY_NP2B" LOCATE = SITE "E18" LEVEL 1;
COMP "STR2_NB2P" LOCATE = SITE "K15" LEVEL 1;
COMP "CG_NB2P" LOCATE = SITE "H14" LEVEL 1;
COMP "SHPTS_NP2B" LOCATE = SITE "B18" LEVEL 1;
COMP "TRD1_NP2B" LOCATE = SITE "H18" LEVEL 1;
COMP "TRD2_NP2B" LOCATE = SITE "K18" LEVEL 1;
COMP "A1_NB2P" LOCATE = SITE "F15" LEVEL 1;
COMP "TRD3_NP2B" LOCATE = SITE "K17" LEVEL 1;
COMP "A2_NB2P" LOCATE = SITE "C18" LEVEL 1;
COMP "ADD_NB2P" LOCATE = SITE "K14" LEVEL 1;
COMP "RESET_NP2B" LOCATE = SITE "D18" LEVEL 1;
COMP "A3_NB2P" LOCATE = SITE "H17" LEVEL 1;
COMP "A4_NB2P" LOCATE = SITE "F17" LEVEL 1;
COMP "P1ADD_NP2B" LOCATE = SITE "G18" LEVEL 1;
COMP "CLOCK_NP2B" LOCATE = SITE "B8" LEVEL 1;
COMP "P1PLAY_NP2B" LOCATE = SITE "H13" LEVEL 1;
PIN P1PLAY_NP2B_pin<0> = BEL "P1PLAY_NP2B" PINNAME PAD;
PIN "P1PLAY_NP2B_pin<0>" CLOCK_DEDICATED_ROUTE = FALSE;
COMP "RD0_NB2P" LOCATE = SITE "E17" LEVEL 1;
COMP "P1SEL0_NP2B" LOCATE = SITE "L14" LEVEL 1;
COMP "RD1_NB2P" LOCATE = SITE "P15" LEVEL 1;
COMP "P1SEL1_NP2B" LOCATE = SITE "L13" LEVEL 1;
COMP "RD2_NB2P" LOCATE = SITE "F4" LEVEL 1;
COMP "CA_NB2P" LOCATE = SITE "L18" LEVEL 1;
COMP "P1SEL2_NP2B" LOCATE = SITE "N17" LEVEL 1;
COMP "RD3_NB2P" LOCATE = SITE "R4" LEVEL 1;
COMP "CB_NB2P" LOCATE = SITE "F18" LEVEL 1;
COMP "P1SEL3_NP2B" LOCATE = SITE "R17" LEVEL 1;
COMP "CC_NB2P" LOCATE = SITE "D17" LEVEL 1;
COMP "CD_NB2P" LOCATE = SITE "D16" LEVEL 1;
SCHEMATIC END;

